<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="carding">
      <div class="details">
        <div class="header_details">
          <h1 class="title_detail"><%= question.title %></h1>
          <div class="header_details_div">
            <p class="vertical_rule">Problem Code : <%= question.code %></p>
            <p class="vertical_rule">
              Problem Difficulty : <%= question.diff %>
            </p>
            <p class="vertical_rule">
              Total Submissions : <%= question.submissions %>
            </p>
            <a class="left_margin" href="<%= question.url_ps%>"
              >Codechef Link (Click Here)</a
            >
          </div>
        </div>

        <div class="content">
          <div class="content_left">
            <div>
              <h3 class="give_margin">Problem</h3>
              <% details.ps.forEach(detail => { %>
              <p class="snippet"><%= detail %></p>
              <% }) %>
            </div>
            <div class="give_margin">
              <h3 class="give_margin">Input Format</h3>
              <% details.input.forEach(detail => { %>
              <p class="snippet"><%= detail %></p>
              <% }) %>
            </div>
            <div class="give_margin">
              <h3 class="give_margin">Output Format</h3>
              <% details.output.forEach(detail => { %>
              <p class="snippet"><%= detail %></p>
              <% }) %>
            </div>
            <div class="give_margin">
              <h3 class="give_margin">Constraints</h3>
              <% details.constraints.forEach(detail => { %>
              <p class="snippet"><%= detail %></p>
              <% }) %>
            </div>
            <div class="give_margin">
              <% if(details.subtask_len>0) {%>
              <h3>Subtasks :</h3>
              <% } %> <% details.subtasks.forEach(detail => { %>
              <p class="snippet"><%= detail %></p>
              <% }) %>
            </div>
          </div>
          <div class="content_right">
            <div>
              <h3 class="give_margin">Sample Input</h3>
              <% details.sample_input.forEach(detail => { %>
              <p class="snippet"><%= detail %></p>
              <% }) %>
            </div>
            <div class="give_margin">
              <h3 class="give_margin">Sample Output</h3>
              <% details.sample_output.forEach(detail => { %>
              <p class="snippet"><%= detail %></p>
              <% }) %>
            </div>
            <div class="give_margin">
              <h3 class="give_margin">Explanation</h3>
              <% details.explanation.forEach(detail => { %>
              <p class="snippet"><%= detail %></p>
              <% }) %>
            </div>
          </div>
        </div>
        <!-- <a class="delete" data-doc="<%= question._id %>">delete</a> -->
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
