<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="questions">
      <div class="questions_left">
        <div class="questions_header">
          <% if(query != undefined && query.length>0) {%>
          <p>
            <strong>Search Results based on the query ></strong> <%= query%>
          </p>
          <% } else{ %>
          <h3>All Questions</h3>
          <%}%>
        </div>
        <% if (questions.length > 0) { %> <% questions.forEach(question => { %>
        <a class="single" href="/questions/<%= question._id %>">
          <h3 class="title">
            <strong><%= question.title %></strong> [ <%=question.code%> ]
            [Difficulty : <%= question.diff%>]
          </h3>
          <p class="snippet"><%= question.statement.slice(0,50)+"..." %></p>
        </a>
        <% }) %> <% } else { %>
        <p>There are no questions to display...</p>
        <% } %>
      </div>
      <div class="questions_right">
        <div class="questions_right_content">
          <h3>SORT BY:</h3>
          <form action="/questions" method="POST" class="form_class">
            <label class="text-white give_margin2" for="category"
              >Write a category( 'diff' | 'code' | 'submissions' ) :</label
            >
            <input type="text" id="category" name="category" required />
            <button class="sort_button" id="sort_button" onclick="loading()">
              SORT
            </button>
          </form>
        </div>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
  <script>
    function loading() {
      var button = document.getElementById('sort_button')
      setTimeout(() => {
        button.innerHTML = 'Loading'
      }, 0)
      setTimeout(() => {
        button.innerHTML = 'Loading.'
      }, 200)
      setTimeout(() => {
        button.innerHTML = 'Loading..'
      }, 1000)
      setTimeout(() => {
        button.innerHTML = 'Loading...'
      }, 2000)
    }
  </script>
</html>
